temp_raster.tif
tests/.ipynb_checkpoints/02-dataframe-checkpoint.ipynb
tests/.ipynb_checkpoints/ee-checkpoint.ipynb
tests/02-dataframe.ipynb
experiment_code/calfuels-d7ee3964fc3f.json
src/__pycache__/initialize_dask.cpython-39.pyc
src/__pycache__/dataset_manager.cpython-39.pyc
src/__pycache__/earth_engine_auth.cpython-39.pyc
src/__pycache__/udf_manager.cpython-39.pyc
experiment_code/ee.ipynb
src/dask_plugins.py
src/dataset_manager.py
src/udf_manager.py
src/__pycache__/dask_plugins.cpython-310.pyc
src/__pycache__/earth_engine_auth.cpython-310.pyc
src/__pycache__/dataset_manager.cpython-310.pyc
src/__pycache__/udf_manager.cpython-310.pyc
experiment_code/saved_on_disk.nc
experiment_code/memusage.csv
experiment_code/metrics_report.csv
src/__pycache__/initialize_dask.cpython-310.pyc
experiment_code/dask-report.html
experiment_code/testdf.ipynb
experiment_code/html_parse.ipynb
src/__pycache__/dask_cluster_manager.cpython-310.pyc
processed_data.nc
src/robustraster/__pycache__/__init__.cpython-310.pyc
src/robustraster/__pycache__/dask_cluster_manager.cpython-310.pyc
src/robustraster/__pycache__/dask_plugins.cpython-310.pyc
src/robustraster/__pycache__/earth_engine_auth.cpython-310.pyc
src/robustraster/__pycache__/dataset_manager.cpython-310.pyc
src/robustraster/__pycache__/performance_metric_helper.cpython-310.pyc
src/robustraster/__pycache__/udf_manager.cpython-310.pyc
ndvi_local.tif
ndvi.tif
optimal_chunks_20250213_100105.json
experiment_code/TEST_EXPORT_DATASET.nc
output.nc
sample_data/TEST_EXPORT_DATASET.nc
experiment_code/sample_data/TEST_EXPORT_DATASET.nc
geometry/Export_Geometry_3310.geojson
geometry/Export_Geometry.geojson
geometry/Plumas_National_forest_3310.cpg
geometry/Plumas_National_forest_3310.dbf
geometry/Plumas_National_forest_3310.prj
geometry/Plumas_National_forest_3310.qpj
geometry/Plumas_National_forest_3310.shp
geometry/Plumas_National_forest_3310.shx
src/robustraster/__pycache__/export_manager.cpython-310.pyc
geometry/US.shx
geometry/US.shp
geometry/US.prj
geometry/US.dbf
geometry/US.cpg
demos/US_NDVI_Tiles_30m_40MIL

src/robustraster/__pycache__/ee_grid_tiles.cpython-310.pyc
src/robustraster/__pycache__/format_time.cpython-310.pyc
src/robustraster/__pycache__/hooks.cpython-310.pyc
src/robustraster/__pycache__/raster_export_manager_batched.cpython-310.pyc
src/robustraster/__pycache__/reports_setup.cpython-310.pyc
src/robustraster/__pycache__/run_manager.cpython-310.pyc
src/robustraster/__pycache__/vector_export_manager.cpython-310.pyc
src/robustraster/__pycache__/vrt_export_manager.cpython-310.pyc
src/robustraster/__pycache__/dask_docker_cluster_manager.cpython-310.pyc
