temp_raster.tif
tests/.ipynb_checkpoints/02-dataframe-checkpoint.ipynb
tests/.ipynb_checkpoints/ee-checkpoint.ipynb
tests/02-dataframe.ipynb
experiment_code/calfuels-d7ee3964fc3f.json
src/__pycache__/initialize_dask.cpython-39.pyc
src/__pycache__/input_driver.cpython-39.pyc
src/__pycache__/earth_engine_auth.cpython-39.pyc
src/__pycache__/udf_tuner.cpython-39.pyc
experiment_code/ee.ipynb
src/dask_plugins.py
src/input_driver.py
src/udf_tuner.py
src/__pycache__/dask_plugins.cpython-310.pyc
src/__pycache__/earth_engine_auth.cpython-310.pyc
src/__pycache__/input_driver.cpython-310.pyc
src/__pycache__/udf_tuner.cpython-310.pyc
experiment_code/saved_on_disk.nc
experiment_code/memusage.csv
experiment_code/metrics_report.csv
src/__pycache__/initialize_dask.cpython-310.pyc
experiment_code/dask-report.html
experiment_code/testdf.ipynb
experiment_code/html_parse.ipynb
src/__pycache__/dask_cluster_manager.cpython-310.pyc
processed_data.nc
src/robustraster/__pycache__/__init__.cpython-310.pyc
src/robustraster/__pycache__/dask_cluster_manager.cpython-310.pyc
src/robustraster/__pycache__/dask_plugins.cpython-310.pyc
src/robustraster/__pycache__/earth_engine_auth.cpython-310.pyc
src/robustraster/__pycache__/input_driver.cpython-310.pyc
src/robustraster/__pycache__/performance_metric_helper.cpython-310.pyc
src/robustraster/__pycache__/udf_tuner.cpython-310.pyc
ndvi_local.tif
ndvi.tif
