temp_raster.tif
tests/.ipynb_checkpoints/02-dataframe-checkpoint.ipynb
tests/.ipynb_checkpoints/ee-checkpoint.ipynb
tests/02-dataframe.ipynb
experiment_code/calfuels-d7ee3964fc3f.json
src/__pycache__/initialize_dask.cpython-39.pyc
src/__pycache__/input_driver.cpython-39.pyc
